<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration>
<Configuration status="ERROR">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%m %throwable{short.message}%n">
			</PatternLayout>
		</Console>

		<File name="Debug" fileName="debug.log" append="false" immediateFlush="true">
			<PatternLayout
				pattern="[%02sequenceNumber %level{lowerCase=true}] %file:%line %thread: %m %throwable%n">
			</PatternLayout>
		</File>
	</Appenders>

	<Loggers>
		<Root level="OFF">
			<AppenderRef ref="Console" level="INFO" />
			<AppenderRef ref="Debug" level="ALL" />
		</Root>
	</Loggers>
</Configuration>